/* all pages */
body {
    font-family: "Montserrat", sans-serif;
    color: #ebe1ed !important;
    overflow-x: hidden;
}

/* nav bar */
.navbar .navbar-brand {
    color: #ebe1ed !important;
}

.nav-link {
    color: #ebe1ed !important;
    transition: all 0.25s ease-in-out !important;
}

.nav-link:hover {
    color: #a54a5a !important;
    text-shadow: #de772a !important;
    font-size: 115%;
    font-weight: bolder;
}

.navbar-toggler-icon {
    color: #ebe1ed;
}

/* feature screen on main page */
#feature-screen {
    background-image: url("https://cdn.glitch.global/59952564-19e0-4333-bf64-e603db058523/ggb_night.png?v=1729533677251");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* text on the feature images */
#feature-screen h1,
#background-image h1 {
    font-family: "Playwrite BE VLG", cursive;
    font-size: 80px;
    color: #ebe1ed;
    text-shadow: 2px 2px 5px #34356f;
    animation: fadeIn 5s;
}

/* feature images on indiv pages */
#background-image {
    background-image: url("https://cdn.glitch.global/59952564-19e0-4333-bf64-e603db058523/starry_sky.jpg?v=1731489220285");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* fade in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* about screen background gradient */
#about-screen {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0.25turn, #34356f, #1f0c33, #27223a);
}

/* about screen header */
#about-screen h1 {
    font-family: "Playwrite BE VLG", cursive;
    font-size: 50px;
    color: #ebe1ed;
}

/* buttons for the cards in the about section */
#about-screen .btn,
#cards-container .btn {
    background: #a54a5a;
    border: none;
}

#about-screen .btn:hover,
#cards-container .btn:hover {
    background: #871838;
}

#about-screen .card {
    transition: all 0.3s ease-in-out;
}

/* cards will grow on hover */
#about-screen .card:hover {
    transform: scale(1.1);
}

.card {
    border-radius: 10px;
}

/* card padding */
.about,
.find {
    padding: 2rem;
}

/* font size for about section */
.about p {
    font-size: 30px;
}

/* image on the about screen */
.home-img img {
    border: 10px solid #ebe1ed;
    border-radius: 10rem;
}

/* formatting for all card images */
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* background gradient for cards-container */
#cards-container {
    background: linear-gradient(0.25turn, #34356f, #1f0c33, #27223a);
}

/* formatting for card images in the container */
#cards-container .card-img-top {
    width: 348px;
    height: 348px;
    object-fit: cover;
}

.card-front p {
    font-style: italic;
}

/* card body background and text */
.card-body {
    background: #ebe1ed;
    color: #27223a;
}

/* entire card styling */
#cards-container .card {
    background-color: transparent;
    width: 350px;
    height: 550px;
    margin: 10px;
    position: relative;
    perspective: 1000px;
}

/* inner card that holds the front and back */
#cards-container .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* card flip */
#cards-container .card:hover .card-inner {
    transform: rotateY(180deg);
}

/* position the front and back sides */
#cards-container .card-front,
#cards-container .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front .card-body {
    min-height: 176px;
}

/* style the back side */
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    z-index: 1;
    overflow: hidden; 
}

/* card image on the back */
.card-back .closing-times img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: 1;
}

/* div that covers the card image */
.closing-times {
    position: relative;
    width: 348px;
    height: 348px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* closing times */
.card-back .closing-times .text-overlay {
    font-size: 1.2rem;
    color: #ebe1ed;
    text-align: right; 
    z-index: 2;
}

/* highlighted current day */
.closing-times .highlighted {
    font-weight: bold;
    text-shadow: 1px 1px 3px #d07c3d;
}

/* star rating styling */
i.fa-star, i.fa-star-half-stroke, i.fa-regular.fa-star {
    color: #d07c3d !important;
}

/* button group for the back of the card */
.button-group a {
    margin: 0 5px;
}

.badges  {
    margin-bottom: 12px;
}

.badge.district {
    background-color: #34356F;
    color: #ebe1ed !important;
}

.badge.neighborhood {
    background-color: #DE772A;
    color: #ebe1ed !important;
}

.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #34356F;
    color: #ebe1ed;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

.scroll-to-top-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: #1F0C33;
}